/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Media Card Styles */

.media-card p {
  color: --bs-gray-500;
}

.media-card {
  background: var(--bs-white);
  padding: 1rem;
  text-align: left;
}

.media-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.media-card__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

.media-card__title {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}