/* style.css */
@import "partials/variables.css";
@import "partials/global.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/blocks.css";
@import "partials/utilities.css";
@import "home.css";
@import "conditions.css";

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .media-card__img {
    height: 300px;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .contact h3 {
    font-size: 1.5em;
  }

  .contact h4{
    font-size: 1.2em;
    font-weight: 700;
  }

  .contact p {
    font-size: 0.9em;
  }
}